#Footer {
  background-color: #1d2938;
  width: 100%;
  /* height: 40%; */
  position: absolute;
  bottom: 0;
}
#Footer .Footer_Wrap {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#Footer .Footer_Wrap > p {
  font-size: 14px;

  font-weight: 300;
}
#Footer .Footer_Wrap .Contents_Wrap img {
  width: 10%;
  height: 100%;
  margin-right: 6%;
}
#Footer .Footer_Wrap .Contents_Wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap {
  display: flex;
}
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap ul:nth-child(1),
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap ul:nth-child(2),
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap ul:nth-child(3) {
  margin-right: 50px;
}
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap ul li {
  text-align: start;
  line-height: 2;
  font-size: 14px;
  font-weight: 300;
}
#Footer .Footer_Wrap .Contents_Wrap .List_Wrap ul p {
  font-size: 16px;

  font-weight: 600;
  margin-bottom: 20px;
}

#Footer .company_info {
  padding: 20px 0;
}

@media (max-width: 769px) {
  #Footer {
    /* height: 150px; */
    /* display: none; */
  }
  #Footer .Footer_Wrap {
    width: 95%;
    margin: 0 auto;
    text-align: start;
  }
  #Footer .Footer_Wrap .title {
    font-size: 12px;
    font-weight: bold;
  }
  #Footer .Footer_Wrap ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 50%;
    flex-direction: column;
    margin: 0 !important;
  }
  #Footer .Footer_Wrap .Contents_Wrap .List_Wrap {
    flex-wrap: wrap;
  }
  #Footer .Footer_Wrap ul li {
    font-size: 10px;
    width: fit-content;
  }
  #Footer .Footer_Wrap ul li::after {
    /* content: "|"; */
    padding: 0 5px;
  }
  #Footer .Footer_Wrap ul li:last-child::after {
    content: "";
  }
  #Footer .Footer_Wrap .Copyright {
  }
}
