/* Popup.css */

#PopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 배경, 투명도 0.5 */
  z-index: 998; /* 팝업 아래에 배경이 나타나도록 */
}

#PopupContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  /* padding-top: 200px; */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* 팝업 위에 나타나도록 */
  width: 500px;
}

#PopupContent .main_img {
  width: 100%;
}

#PopupContent .cheat_link {
  width: 240px;
  position: absolute;
  left: 130px;
  bottom: 55px;
  height: 50px;
}

#PopupContent .cheat_close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
}

#PopupContent .Contents_Wrap {
  position: relative;
  background-color: #1d2938;
  padding: 167px 0 50px;
  border-radius: 0 0 8px 8px;
}
#PopupContent .Contents_Wrapper {
  width: 100%;
  background-color: #4a4a4a;
  padding: 12px 0;
}
#PopupContent .Contents_Wrapper p {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
#PopupContent .Contents_Wrap .Request {
  color: #fff;
  font-size: 21.87px;
  font-weight: 700;
  background-color: #00c59f;
  border-radius: 27px;
  padding: 10px 27px;
  margin-top: 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#PopupContent .Contents_Wrap .Request a {
  color: #fff;
  text-decoration: none;
}
#PopupContent .Contents_Wrap img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
