.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998; /* 팝업 아래에 배경이 나타나도록 */
}

.modal_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  max-width: 500px;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

@media (max-width: 769px) {
  .modal_content {
    height: 100%;
    border-radius: 0;
  }
}
